.collaborationIntro {
  padding-top: 1em;
  font-family: 'Montserrat', serif;
  font-size: 1.5em;
  line-height: 1.75em;
  text-align: center;
  color: #8B0000;
}


@media screen and (max-width: 768px) {
  .collaborationIntro {
    font-size: 1em;
  }

  .list-group-item-heading {
    font-size: 1em;
    padding-bottom: .5em;
  }
}
