.heroRow {
  color: black;
}

.heroColumn {
  margin-top: -25px;
  background-color: black;
  position: relative;
}

.heroImage {
  position: relative;
}


.heroText {
  color: white;
  position: absolute;
  top: 5%;
  left: 40px;
  /*display: none;*/
}

.heroFollow {
  color: white;
  position: absolute;
  top: 22%;
  left: 300px;

}

.huntLabArticle {
  display: block;
  text-align: center;
}

.aboutHuntLab {
  padding: 1em;
  font-size: .95em;
}

.centered {
  text-align: center;
}

#moreModelingInfo {
  margin-bottom: 2em;
}

.expandedModelingText {
  display: none;
}

.projectObjectives li {
  font-size: 1.25em;
  padding-top: .25em;
}

.researchCredit {
  padding-top: 0;
  font-size: .85em;
  font-style: italic;
  font-weight: bold;
}

.objectivesArticle {
  display: none;
}

.modelExperiments {
  display: none;
}

.objectODesign {
  display: none;
}

.occamsRazorArticle {
  display: none;
}

.iterativeArticle {
  display: none;
}

.questionCount {
  color: white;
}

.jumbotron {
  background-color: #708090;
}

#moreModelingInfo {
  background-color: #708090;
  color: white;
  border-color: #708090;
}

.jumbotron p {
  font-size: 1.5em;
  color: white;
  line-height: 1.5em;
}

.questionSlides p {
  font-size: 1.25em;
  line-height: 2;
}

.questionSlides h4 {
  padding-top: 1em;
  color: darkred;
  font-family: 'Neucha', serif;
  font-size: 1.5em;
  line-height: 1.75;
}

.modal-content h5 {
  color: darkRed;
}

.breadcrumb li h5 {
  color: darkRed;
}



@media screen and (max-width: 769px) {
  .heroColumn {
    margin-top: -25px;
    padding-bottom: 3em;
  }

  .heroText {
    font-size: 1em;
    left: 30px;
  }


  .heroFollow {
    font-size: .95em;
    left: 100px;
    top: 65%;
  }

}

@media screen and (max-width: 415px) {
  .heroText {
    font-size: .9em;
  }


  .heroFollow {
    left: 150px;
    top: 60%;
    font-size: .75em;
  }

  .slick-next {
    right: -10px;
  }

  .slick-prev {
    left: -10px;
  }

}

@media screen and (max-width: 376px) {
  .heroColumn {
    padding-bottom: 3em;
  }


  .heroText {
    margin-top: 1em;
    top: 0;
  }

  .heroFollow {
    left: 100px;
  }

  .questionSlides .centered p {
    font-size: 1.15em;
  }

  .questionSlides .centered h4 {
    font-size: 1.25em;
  }

}
