.heroRow {
  color: black;
}

.col-xs-12 {
  margin-top: -25px;
  background-color: black;
  position: relative;
}

.heroImage {
  position: relative;
}


.heroText {
  color: white;
  position: absolute;
  top: 5%;
  left: 40px;
  /*display: none;*/
}

.heroFollow {
  color: white;
  position: absolute;
  top: 22%;
  left: 300px;

}


@media screen and (max-width: 769px) {
  .col-xs-12 {
    margin-top: -25px;
    padding-bottom: 3em;
  }

  .heroText {
    font-size: 1em;
    left: 30px;
  }


  .heroFollow {
    font-size: .95em;
    left: 100px;
    top: 65%;
  }


}

@media screen and (max-width: 415px) {
  .heroText {
    font-size: .9em;
  }


  .heroFollow {
    left: 150px;
    top: 60%;
    font-size: .75em;
  }
}

@media screen and (max-width: 376px) {
  .col-xs-12 {
    padding-bottom: 3em;
  }


  .heroText {
    margin-top: 1em;
    top: 0;
  }

  .heroFollow {
    left: 100px;
  }
}
