.blackHeader {
margin: -20px;
padding: 1.5em;
background-color: black;
}

h3 {
  margin-top: 1.5em;
  display: block;
  text-align: center;
}

.articleBlock {
}

.list-group-item-text {
  display: none;
}

.hidden {
  display: none;
}


img {
  width: 100%;
}

.researchArticles {
  padding: 2em;
}

.list-group {
  padding: 1em;
  /*border-bottom: 2px solid gray;*/
}

.list-group-item-heading {
  padding-bottom: .5em;
}

.emphasized {
  font-size: 2em;
  background-color: orange;
  font-weight: 400;
  }


.alphabetLinks li{
  display: inline-block;
  font-size: 1.5em;
  padding-right: 1.25em;
  padding-bottom: 1em;
}

.alphabetLinks a {
  color: red;
}

.smallMedia {
  width: 60%;
  display: block;
  margin: 0 auto;
  padding: 1em;
  border: 1px solid gray;
  margin-bottom: 1em;
}

.hepatocyteImgs li {
  display: inline;
}

.specialText {
  display: none;
}

.secondSpecialText {
  display: none;
}

.specialText3 {
  display: none;
}

.specialSection {
  padding: 1em;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.075);
  box-shadow: 0 1px 2px rgba(0,0,0,.075);
  margin-bottom: 20px;
  float: left;
  padding-bottom: .5em;
}

.secondSpecialSection {
  padding: 1em;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.075);
  box-shadow: 0 1px 2px rgba(0,0,0,.075);
  margin-bottom: 20px;
  float: left;
  padding-bottom: .5em;
}

.specialSection3 {
  padding: 1em;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.075);
  box-shadow: 0 1px 2px rgba(0,0,0,.075);
  margin-bottom: 20px;
  float: left;
  padding-bottom: .5em;
}

.sillicoSub li {
  margin-bottom: 1em;
}

.tinyIcon {
  width: 15px;
}

#externalResearchPage a{
  color: inherit;
  text-decoration: none;
}

.openDictionary p {
  font-weight: semi-bold;
  font-size: .95em;
}

.styled-words {
  background-color: lightGray;
  padding: 2em;
  border: 2px solid gray;
}

.sillyStyle a {
  font-size: 115%;
  text-decoration: none;
  color: green;
  padding: .25em;
  background-color: lightGray;
}
