.blackHeader {
padding: 1.5em;
background-color: black;
}

.list-group-item-text {
  display: none;
}

.hidden {
  display: none;
}


img {
  width: 100%;
}

.researchArticles {
  padding: 2em;
}

.list-group {
  padding: 1em;
  /*border-bottom: 2px solid gray;*/
}

.list-group-item-heading {
  padding-bottom: 1em;
}

.emphasized {
  font-size: 2em;
  background-color: orange;
  font-weight: 400;
  }


.alphabetLinks li{
  display: inline-block;
}

.smallMedia {
  width: 60%;
  display: block;
  margin: 0 auto;
  padding: 1em;
  border: 1px solid gray;
  margin-bottom: 1em;
}

.hepatocyteImgs li {
  display: inline;
}

.specialText {
  display: none;
}

.secondSpecialText {
  display: none;
}

.specialSection {
  padding: 1em;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.075);
  box-shadow: 0 1px 2px rgba(0,0,0,.075);
  margin-bottom: 20px;
}

.secondSpecialSection {
  padding: 1em;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.075);
  box-shadow: 0 1px 2px rgba(0,0,0,.075);
  margin-bottom: 20px;
}


.sillicoSub li {
  margin-bottom: 1em;
}

.tinyIcon {
  width: 15px;
}
